<div class="swiper main-swiper-slider mb-4">
    <div class="swiper-wrapper">
        <div class="swiper-slide main-slider-item">
            <a href="#" class="d-md-block d-none">
                <img src="/Ui/assets/images/main-slider/full-width/slider-1.jpg" alt="">
            </a>
            <a href="#" class="d-md-none">
                <img src="/Ui/assets/images/main-slider/full-width/slider-mb-1.jpg"
                     alt="">
            </a>
        </div>
        <div class="swiper-slide main-slider-item">
            <a href="#" class="d-md-block d-none">
                <img src="/Ui/assets/images/main-slider/full-width/slider-2.jpg" alt="">
            </a>
            <a href="#" class="d-md-none">
                <img src="/Ui/assets/images/main-slider/full-width/slider-mb-2.jpg"
                     alt="">
            </a>
        </div>
        <div class="swiper-slide main-slider-item">
            <a href="#" class="d-md-block d-none">
                <img src="/Ui/assets/images/main-slider/full-width/slider-3.jpg" alt="">
            </a>
            <a href="#" class="d-md-none">
                <img src="/Ui/assets/images/main-slider/full-width/slider-mb-3.jpg"
                     alt="">
            </a>
        </div>
        <div class="swiper-slide main-slider-item">
            <a href="#" class="d-md-block d-none">
                <img src="/Ui/assets/images/main-slider/full-width/slider-4.jpg" alt="">
            </a>
            <a href="#" class="d-md-none">
                <img src="/Ui/assets/images/main-slider/full-width/slider-mb-4.jpg"
                     alt="">
            </a>
        </div>
        <div class="swiper-slide main-slider-item">
            <a href="#" class="d-md-block d-none">
                <img src="/Ui/assets/images/main-slider/full-width/slider-5.jpg" alt="">
            </a>
            <a href="#" class="d-md-none">
                <img src="/Ui/assets/images/main-slider/full-width/slider-mb-5.jpg"
                     alt="">
            </a>
        </div>
    </div>

    <div class="swiper_pagination-navigation-custom">
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <div class="swiper-navigation-container d-md-flex d-none">
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>