@model VG.Application.Varieties.Commands.EditVariety.EditVarietyCommand
@{
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">ویرایش نوع: @Model.Title</h4>
</div>

<form asp-area="Administration" asp-controller="Variety" asp-action="Edit"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Title" class="control-label">عنوان</label>
                    <input type="text" class="form-control" asp-for="Title">
                    <span asp-validation-for="Title" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ColorCode" class="control-label">کد رنگ</label>
                    <input type="text" class="form-control" asp-for="ColorCode">
                    <span asp-validation-for="ColorCode" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Size" class="control-label">سایز</label>
                    <input type="text" class="form-control" asp-for="Size">
                    <span asp-validation-for="Size" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="BoxType">باکس</label>
                    <select asp-for="BoxType" dir="rtl" asp-items="ViewBag.BoxTypes">
                    </select>
                    <span asp-validation-for="BoxType" class="error"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="VarietyGroupId">گروه نوع</label>
                    <select asp-for="VarietyGroupId" dir="rtl" asp-items="ViewBag.VarietyGroups">
                        <option value="@Guid.Empty"> </option>
                    </select>
                    <span asp-validation-for="VarietyGroupId" class="error"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
    </div>
</form>