@{
    ViewData["Title"] = "خانه | فروشگاه فقیه استور";
}

<main class="page-content">

    <!--Slider Component-->
    @await Component.InvokeAsync(name:"Slide")

    <div class="container">
        <div class="row align-items-center mb-4">
            <div class="col-lg-4 order-2 order-lg-1">
                <div class="row mt-4 mt-lg-0">
                    <div class="col-lg-12 col-sm-6 col-12">
                        <div class="banner mb-4">
                            <a href="#">
                                <img src="/Ui/assets/images/banner/banner-md-05.gif" alt="banner">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 col-12">
                        <div class="banner">
                            <a href="#">
                                <img src="/Ui/assets/images/banner/banner-md-04.gif" alt="banner">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 order-1 order-lg-2">
                <div class="offer-slider-wrapper">
                    <div class="offer-slider-title">پیشنهاد شگفت انگیز</div>
                    <div class="row">
                        <div class="col-12 mb-1">
                            <div class="swiper-container offer-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="row align-items-center pb-3">
                                            <div class="col-sm-6 col-12 order-2 order-sm-1">
                                                <div class="product-title">
                                                    <a href="#">
                                                        گوشی موبایل سامسونگ مدل Galaxy Note10 Lite SM-N770F/DS
                                                        دو سیم کارت ظرفیت 128 گیگابایت
                                                    </a>
                                                </div>
                                                <div class="product-price">
                                                    <del>13,699,000 تومان</del>
                                                    13,250,000 تومان
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-12 order-1 order-sm-2">
                                                <div class="offer-slide-content">
                                                    <div class="product-thumbnail">
                                                        <a href="#">
                                                            <img src="/Ui/assets/images/offer-slider/01.jpg"
                                                                 alt="item">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="row align-items-center pb-3">
                                            <div class="col-sm-6 col-12 order-2 order-sm-1">
                                                <div class="product-title">
                                                    <a href="#">هدفون بی سیم سامسونگ مدل Galaxy Buds Live</a>
                                                </div>
                                                <div class="product-price">
                                                    <del>2,988,000 تومان</del>
                                                    2,450,000 تومان
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-12 order-1 order-sm-2">
                                                <div class="offer-slide-content">
                                                    <div class="product-thumbnail">
                                                        <a href="#">
                                                            <img src="/Ui/assets/images/offer-slider/02.jpg"
                                                                 alt="item">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="row align-items-center pb-3">
                                            <div class="col-sm-6 col-12 order-2 order-sm-1">
                                                <div class="product-title">
                                                    <a href="#">
                                                        ساعت هوشمند سامسونگ مدل Galaxy Watch Active2
                                                        44mm
                                                    </a>
                                                </div>
                                                <div class="product-price">
                                                    <del>5,650,000 تومان</del>
                                                    5,020,000 تومان
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-12 order-1 order-sm-2">
                                                <div class="offer-slide-content">
                                                    <div class="product-thumbnail">
                                                        <a href="#">
                                                            <img src="/Ui/assets/images/offer-slider/03.jpg"
                                                                 alt="item">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="row align-items-center pb-3">
                                            <div class="col-sm-6 col-12 order-2 order-sm-1">
                                                <div class="product-title">
                                                    <a href="#">هدفون بی سیم مدل inpods 12</a>
                                                </div>
                                                <div class="product-price">
                                                    <del>130,000 تومان</del>
                                                    109,000 تومان
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-12 order-1 order-sm-2">
                                                <div class="offer-slide-content">
                                                    <div class="product-thumbnail">
                                                        <a href="#">
                                                            <img src="/Ui/assets/images/offer-slider/04.jpg"
                                                                 alt="item">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="row align-items-center pb-3">
                                            <div class="col-sm-6 col-12 order-2 order-sm-1">
                                                <div class="product-title">
                                                    <a href="#">
                                                        ساعت هوشمند سامسونگ مدل Galaxy Watch Active2
                                                        44mm Leatherband Smart
                                                    </a>
                                                </div>
                                                <div class="product-price">
                                                    <del>6,299,000 تومان</del>
                                                    5,999,000 تومان
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-12 order-1 order-sm-2">
                                                <div class="offer-slide-content">
                                                    <div class="product-thumbnail">
                                                        <a href="#">
                                                            <img src="/Ui/assets/images/offer-slider/05.jpg"
                                                                 alt="item">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center pb-4">
                        <div class="col-lg-8 mt-2 mb-4 mb-lg-0">
                            <div class="offer-slider-thumbs-wrapper">
                                <div class="px-0 px-sm-5">
                                    <div class="swiper-container offer-slider-thumbs">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img src="/Ui/assets/images/offer-slider/01.jpg" alt="item">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="/Ui/assets/images/offer-slider/02.jpg" alt="item">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="/Ui/assets/images/offer-slider/03.jpg" alt="item">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="/Ui/assets/images/offer-slider/04.jpg" alt="item">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="/Ui/assets/images/offer-slider/05.jpg" alt="item">
                                            </div>
                                        </div>
                                        <!-- Add Pagination -->
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                                <!-- Add Arrows -->
                                <div class="offer-slider-button-next"><i class="far fa-chevron-left"></i></div>
                                <div class="offer-slider-button-prev"><i class="far fa-chevron-right"></i></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="d-flex justify-content-center">
                                <div id="countdown--offer-slider"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="product-carousel in-box">
            <div class="section-title">
                <i class="fad fa-percentage"></i>
                منتخب محصولات تخفیف و حراج
            </div>
            <div class="swiper-container slider-lg pb-0">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product-box">
                            <div class="product-box--thumbnail-container">
                                <span class="product-box--specialSell"></span>
                                <img src="/Ui/assets/images/products/01.jpg" class="product-box--thumbnail"
                                     alt="product title">
                                <a href="#" class="product-box--link"></a>
                            </div>
                            <div class="product-box--detail">
                                <h3 class="product-box--title">
                                    <a href="#">
                                        گوشی موبایل هوآوی مدل nova 9 NAM-LX9
                                        دو سیم کارت ظرفیت 128گیگابایت و 8 گیگابایت رم
                                    </a>
                                </h3>
                                <div class="product-box--price-container">
                                    <div class="product-box--price-discount">6%</div>
                                    <div class="product-box--price">
                                        <span class="product-box--price-now">
                                            <div class="product-box--price-value">10,359,000</div>
                                            <div class="product-box--price-currency">تومان</div>
                                        </span>
                                        <span class="product-box--price-old">10,990,000</span>
                                    </div>
                                </div>
                                <div class="product-box--action">
                                    <a href="#" class="product-box--action-btn product-box--action-wishlist">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="#" class="product-box--action-btn product-box--action-cart">
                                        اضافه
                                        سبد
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-box">
                            <div class="product-box--thumbnail-container">
                                <span class="product-box--specialSell"></span>
                                <img src="/Ui/assets/images/products/02.jpg" class="product-box--thumbnail"
                                     alt="product title">
                                <a href="#" class="product-box--link"></a>
                            </div>
                            <div class="product-box--detail">
                                <h3 class="product-box--title">
                                    <a href="#">
                                        گوشی موبایل نوکیا مدل 2017 3310 FA دو
                                        سیم کارت ظرفیت 16 مگابایت
                                    </a>
                                </h3>
                                <div class="product-box--price-container">
                                    <div class="product-box--price-discount">8%</div>
                                    <div class="product-box--price">
                                        <span class="product-box--price-now">
                                            <div class="product-box--price-value">1,620,000</div>
                                            <div class="product-box--price-currency">تومان</div>
                                        </span>
                                        <span class="product-box--price-old">1,766,000</span>
                                    </div>
                                </div>
                                <div class="product-box--action">
                                    <a href="#" class="product-box--action-btn product-box--action-wishlist">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="#" class="product-box--action-btn product-box--action-cart">
                                        اضافه
                                        سبد
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-box">
                            <div class="product-box--thumbnail-container">
                                <span class="product-box--specialSell"></span>
                                <img src="/Ui/assets/images/products/03.jpg" class="product-box--thumbnail"
                                     alt="product title">
                                <a href="#" class="product-box--link"></a>
                            </div>
                            <div class="product-box--detail">
                                <h3 class="product-box--title">
                                    <a href="#">
                                        گوشی موبایل آنر مدل X9 5G دو سیم کارت
                                        ظرفیت 256 گیگابایت و رم 8 گیگابایت
                                    </a>
                                </h3>
                                <div class="product-box--price-container">
                                    <div class="product-box--price-discount">5%</div>
                                    <div class="product-box--price">
                                        <span class="product-box--price-now">
                                            <div class="product-box--price-value">7,959,000</div>
                                            <div class="product-box--price-currency">تومان</div>
                                        </span>
                                        <span class="product-box--price-old">8,399,000</span>
                                    </div>
                                </div>
                                <div class="product-box--action">
                                    <a href="#" class="product-box--action-btn product-box--action-wishlist">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="#" class="product-box--action-btn product-box--action-cart">
                                        اضافه
                                        سبد
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-box">
                            <div class="product-box--thumbnail-container">
                                <span class="product-box--specialSell"></span>
                                <img src="/Ui/assets/images/products/04.jpg" class="product-box--thumbnail"
                                     alt="product title">
                                <a href="#" class="product-box--link"></a>
                            </div>
                            <div class="product-box--detail">
                                <h3 class="product-box--title">
                                    <a href="#">
                                        گوشی موبایل موتورولا مدل MOTO E40
                                        XT2159-3 دو سیم کارت ظرفیت 64 گیگابایت و رم 4 گیگابای
                                    </a>
                                </h3>
                                <div class="product-box--price-container">
                                    <div class="product-box--price-discount">3%</div>
                                    <div class="product-box--price">
                                        <span class="product-box--price-now">
                                            <div class="product-box--price-value">3,689,000</div>
                                            <div class="product-box--price-currency">تومان</div>
                                        </span>
                                        <span class="product-box--price-old">3,799,000</span>
                                    </div>
                                </div>
                                <div class="product-box--action">
                                    <a href="#" class="product-box--action-btn product-box--action-wishlist">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="#" class="product-box--action-btn product-box--action-cart">
                                        اضافه
                                        سبد
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-box">
                            <div class="product-box--thumbnail-container">
                                <span class="product-box--specialSell"></span>
                                <img src="/Ui/assets/images/products/05.jpg" class="product-box--thumbnail"
                                     alt="product title">
                                <a href="#" class="product-box--link"></a>
                            </div>
                            <div class="product-box--detail">
                                <h3 class="product-box--title">
                                    <a href="#">
                                        گوشی موبایل آنر مدل 50 Lite دو سیم
                                        کارت ظرفیت 128گیگابایت و رم 6 گیگابایت
                                    </a>
                                </h3>
                                <div class="product-box--price-container">
                                    <div class="product-box--price-discount">5%</div>
                                    <div class="product-box--price">
                                        <span class="product-box--price-now">
                                            <div class="product-box--price-value">5,145,000</div>
                                            <div class="product-box--price-currency">تومان</div>
                                        </span>
                                        <span class="product-box--price-old">5,399,000</span>
                                    </div>
                                </div>
                                <div class="product-box--action">
                                    <a href="#" class="product-box--action-btn product-box--action-wishlist">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="#" class="product-box--action-btn product-box--action-cart">
                                        اضافه
                                        سبد
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-box">
                            <div class="product-box--thumbnail-container">
                                <span class="product-box--specialSell"></span>
                                <img src="/Ui/assets/images/products/06.jpg" class="product-box--thumbnail"
                                     alt="product title">
                                <a href="#" class="product-box--link"></a>
                            </div>
                            <div class="product-box--detail">
                                <h3 class="product-box--title">
                                    <a href="#">
                                        گوشی موبایل هوآوی مدل nova Y70 دو
                                        سیم‌ کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت
                                    </a>
                                </h3>
                                <div class="product-box--price-container">
                                    <div class="product-box--price-discount">6%</div>
                                    <div class="product-box--price">
                                        <span class="product-box--price-now">
                                            <div class="product-box--price-value">3,949,000</div>
                                            <div class="product-box--price-currency">تومان</div>
                                        </span>
                                        <span class="product-box--price-old">4,210,000</span>
                                    </div>
                                </div>
                                <div class="product-box--action">
                                    <a href="#" class="product-box--action-btn product-box--action-wishlist">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="#" class="product-box--action-btn product-box--action-cart">
                                        اضافه
                                        سبد
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-box">
                            <div class="product-box--thumbnail-container">
                                <span class="product-box--specialSell"></span>
                                <img src="/Ui/assets/images/products/07.jpg" class="product-box--thumbnail"
                                     alt="product title">
                                <a href="#" class="product-box--link"></a>
                            </div>
                            <div class="product-box--detail">
                                <h3 class="product-box--title">
                                    <a href="#">
                                        گوشی موبایل جی پلاس مدل Q20 دو سیم
                                        کارت ظرفیت 64 گیگابایت و رم 4 گیگابایت
                                    </a>
                                </h3>
                                <div class="product-box--price-container">
                                    <div class="product-box--price-discount">3%</div>
                                    <div class="product-box--price">
                                        <span class="product-box--price-now">
                                            <div class="product-box--price-value">3,299,000</div>
                                            <div class="product-box--price-currency">تومان</div>
                                        </span>
                                        <span class="product-box--price-old">3,399,000</span>
                                    </div>
                                </div>
                                <div class="product-box--action">
                                    <a href="#" class="product-box--action-btn product-box--action-wishlist">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="#" class="product-box--action-btn product-box--action-cart">
                                        اضافه
                                        سبد
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-box">
                            <div class="product-box--thumbnail-container">
                                <span class="product-box--specialSell"></span>
                                <img src="/Ui/assets/images/products/08.jpg" class="product-box--thumbnail"
                                     alt="product title">
                                <a href="#" class="product-box--link"></a>
                            </div>
                            <div class="product-box--detail">
                                <h3 class="product-box--title">
                                    <a href="#">
                                        گوشی موبایل شیائومی مدل Redmi Note
                                        11S 2201117SG دو سیم کارت ظرفیت 128 گیگابایت و رم 6 گیگابایت
                                    </a>
                                </h3>
                                <div class="product-box--price-container">
                                    <div class="product-box--price-discount">2%</div>
                                    <div class="product-box--price">
                                        <span class="product-box--price-now">
                                            <div class="product-box--price-value">6,599,000</div>
                                            <div class="product-box--price-currency">تومان</div>
                                        </span>
                                        <span class="product-box--price-old">6,735,000</span>
                                    </div>
                                </div>
                                <div class="product-box--action">
                                    <a href="#" class="product-box--action-btn product-box--action-wishlist">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="#" class="product-box--action-btn product-box--action-cart">
                                        اضافه
                                        سبد
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </section>
        <div class="row mb-4">
            <div class="col-md-3 col-6 mb-lg-0 mb-3">
                <div class="banner">
                    <a href="#">
                        <img src="/Ui/assets/images/banner/banner-sm-01.jpg" alt="banner">
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-6 mb-lg-0 mb-3">
                <div class="banner">
                    <a href="#">
                        <img src="/Ui/assets/images/banner/banner-sm-02.jpg" alt="banner">
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-6 mb-lg-0 mb-3">
                <div class="banner">
                    <a href="#">
                        <img src="/Ui/assets/images/banner/banner-sm-03.jpg" alt="banner">
                    </a>
                </div>
            </div>
            <div class="col-md-3  col-6 mb-lg-0 mb-3">
                <div class="banner">
                    <a href="#">
                        <img src="/Ui/assets/images/banner/banner-sm-04.jpg" alt="banner">
                    </a>
                </div>
            </div>
        </div>
        <section class="product-carousel in-box">
            <div class="section-title">
                <i class="fad fa-fire"></i>
                پرفروش ترینها
            </div>
            <div class="swiper-container slider-lg pb-0">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product-box">
                            <div class="product-box--thumbnail-container">
                                <span class="product-box--specialSell"></span>
                                <img src="/Ui/assets/images/products/05.jpg" class="product-box--thumbnail"
                                     alt="product title">
                                <a href="#" class="product-box--link"></a>
                            </div>
                            <div class="product-box--detail">
                                <h3 class="product-box--title">
                                    <a href="#">
                                        گوشی موبایل آنر مدل 50 Lite دو سیم
                                        کارت ظرفیت 128گیگابایت و رم 6 گیگابایت
                                    </a>
                                </h3>
                                <div class="product-box--price-container">
                                    <div class="product-box--price-discount">5%</div>
                                    <div class="product-box--price">
                                        <span class="product-box--price-now">
                                            <div class="product-box--price-value">5,145,000</div>
                                            <div class="product-box--price-currency">تومان</div>
                                        </span>
                                        <span class="product-box--price-old">5,399,000</span>
                                    </div>
                                </div>
                                <div class="product-box--action">
                                    <a href="#" class="product-box--action-btn product-box--action-wishlist">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="#" class="product-box--action-btn product-box--action-cart">
                                        اضافه
                                        سبد
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-box">
                            <div class="product-box--thumbnail-container">
                                <span class="product-box--specialSell"></span>
                                <img src="/Ui/assets/images/products/06.jpg" class="product-box--thumbnail"
                                     alt="product title">
                                <a href="#" class="product-box--link"></a>
                            </div>
                            <div class="product-box--detail">
                                <h3 class="product-box--title">
                                    <a href="#">
                                        گوشی موبایل هوآوی مدل nova Y70 دو
                                        سیم‌ کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت
                                    </a>
                                </h3>
                                <div class="product-box--price-container">
                                    <div class="product-box--price-discount">6%</div>
                                    <div class="product-box--price">
                                        <span class="product-box--price-now">
                                            <div class="product-box--price-value">3,949,000</div>
                                            <div class="product-box--price-currency">تومان</div>
                                        </span>
                                        <span class="product-box--price-old">4,210,000</span>
                                    </div>
                                </div>
                                <div class="product-box--action">
                                    <a href="#" class="product-box--action-btn product-box--action-wishlist">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="#" class="product-box--action-btn product-box--action-cart">
                                        اضافه
                                        سبد
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-box">
                            <div class="product-box--thumbnail-container">
                                <span class="product-box--specialSell"></span>
                                <img src="/Ui/assets/images/products/07.jpg" class="product-box--thumbnail"
                                     alt="product title">
                                <a href="#" class="product-box--link"></a>
                            </div>
                            <div class="product-box--detail">
                                <h3 class="product-box--title">
                                    <a href="#">
                                        گوشی موبایل جی پلاس مدل Q20 دو سیم
                                        کارت ظرفیت 64 گیگابایت و رم 4 گیگابایت
                                    </a>
                                </h3>
                                <div class="product-box--price-container">
                                    <div class="product-box--price-discount">3%</div>
                                    <div class="product-box--price">
                                        <span class="product-box--price-now">
                                            <div class="product-box--price-value">3,299,000</div>
                                            <div class="product-box--price-currency">تومان</div>
                                        </span>
                                        <span class="product-box--price-old">3,399,000</span>
                                    </div>
                                </div>
                                <div class="product-box--action">
                                    <a href="#" class="product-box--action-btn product-box--action-wishlist">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="#" class="product-box--action-btn product-box--action-cart">
                                        اضافه
                                        سبد
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-box">
                            <div class="product-box--thumbnail-container">
                                <span class="product-box--specialSell"></span>
                                <img src="/Ui/assets/images/products/08.jpg" class="product-box--thumbnail"
                                     alt="product title">
                                <a href="#" class="product-box--link"></a>
                            </div>
                            <div class="product-box--detail">
                                <h3 class="product-box--title">
                                    <a href="#">
                                        گوشی موبایل شیائومی مدل Redmi Note
                                        11S 2201117SG دو سیم کارت ظرفیت 128 گیگابایت و رم 6 گیگابایت
                                    </a>
                                </h3>
                                <div class="product-box--price-container">
                                    <div class="product-box--price-discount">2%</div>
                                    <div class="product-box--price">
                                        <span class="product-box--price-now">
                                            <div class="product-box--price-value">6,599,000</div>
                                            <div class="product-box--price-currency">تومان</div>
                                        </span>
                                        <span class="product-box--price-old">6,735,000</span>
                                    </div>
                                </div>
                                <div class="product-box--action">
                                    <a href="#" class="product-box--action-btn product-box--action-wishlist">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="#" class="product-box--action-btn product-box--action-cart">
                                        اضافه
                                        سبد
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-box">
                            <div class="product-box--thumbnail-container">
                                <span class="product-box--specialSell"></span>
                                <img src="/Ui/assets/images/products/01.jpg" class="product-box--thumbnail"
                                     alt="product title">
                                <a href="#" class="product-box--link"></a>
                            </div>
                            <div class="product-box--detail">
                                <h3 class="product-box--title">
                                    <a href="#">
                                        گوشی موبایل هوآوی مدل nova 9 NAM-LX9
                                        دو سیم کارت ظرفیت 128گیگابایت و 8 گیگابایت رم
                                    </a>
                                </h3>
                                <div class="product-box--price-container">
                                    <div class="product-box--price-discount">6%</div>
                                    <div class="product-box--price">
                                        <span class="product-box--price-now">
                                            <div class="product-box--price-value">10,359,000</div>
                                            <div class="product-box--price-currency">تومان</div>
                                        </span>
                                        <span class="product-box--price-old">10,990,000</span>
                                    </div>
                                </div>
                                <div class="product-box--action">
                                    <a href="#" class="product-box--action-btn product-box--action-wishlist">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="#" class="product-box--action-btn product-box--action-cart">
                                        اضافه
                                        سبد
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-box">
                            <div class="product-box--thumbnail-container">
                                <span class="product-box--specialSell"></span>
                                <img src="/Ui/assets/images/products/02.jpg" class="product-box--thumbnail"
                                     alt="product title">
                                <a href="#" class="product-box--link"></a>
                            </div>
                            <div class="product-box--detail">
                                <h3 class="product-box--title">
                                    <a href="#">
                                        گوشی موبایل نوکیا مدل 2017 3310 FA دو
                                        سیم کارت ظرفیت 16 مگابایت
                                    </a>
                                </h3>
                                <div class="product-box--price-container">
                                    <div class="product-box--price-discount">8%</div>
                                    <div class="product-box--price">
                                        <span class="product-box--price-now">
                                            <div class="product-box--price-value">1,620,000</div>
                                            <div class="product-box--price-currency">تومان</div>
                                        </span>
                                        <span class="product-box--price-old">1,766,000</span>
                                    </div>
                                </div>
                                <div class="product-box--action">
                                    <a href="#" class="product-box--action-btn product-box--action-wishlist">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="#" class="product-box--action-btn product-box--action-cart">
                                        اضافه
                                        سبد
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-box">
                            <div class="product-box--thumbnail-container">
                                <span class="product-box--specialSell"></span>
                                <img src="/Ui/assets/images/products/03.jpg" class="product-box--thumbnail"
                                     alt="product title">
                                <a href="#" class="product-box--link"></a>
                            </div>
                            <div class="product-box--detail">
                                <h3 class="product-box--title">
                                    <a href="#">
                                        گوشی موبایل آنر مدل X9 5G دو سیم کارت
                                        ظرفیت 256 گیگابایت و رم 8 گیگابایت
                                    </a>
                                </h3>
                                <div class="product-box--price-container">
                                    <div class="product-box--price-discount">5%</div>
                                    <div class="product-box--price">
                                        <span class="product-box--price-now">
                                            <div class="product-box--price-value">7,959,000</div>
                                            <div class="product-box--price-currency">تومان</div>
                                        </span>
                                        <span class="product-box--price-old">8,399,000</span>
                                    </div>
                                </div>
                                <div class="product-box--action">
                                    <a href="#" class="product-box--action-btn product-box--action-wishlist">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="#" class="product-box--action-btn product-box--action-cart">
                                        اضافه
                                        سبد
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-box">
                            <div class="product-box--thumbnail-container">
                                <span class="product-box--specialSell"></span>
                                <img src="/Ui/assets/images/products/04.jpg" class="product-box--thumbnail"
                                     alt="product title">
                                <a href="#" class="product-box--link"></a>
                            </div>
                            <div class="product-box--detail">
                                <h3 class="product-box--title">
                                    <a href="#">
                                        گوشی موبایل موتورولا مدل MOTO E40
                                        XT2159-3 دو سیم کارت ظرفیت 64 گیگابایت و رم 4 گیگابای
                                    </a>
                                </h3>
                                <div class="product-box--price-container">
                                    <div class="product-box--price-discount">3%</div>
                                    <div class="product-box--price">
                                        <span class="product-box--price-now">
                                            <div class="product-box--price-value">3,689,000</div>
                                            <div class="product-box--price-currency">تومان</div>
                                        </span>
                                        <span class="product-box--price-old">3,799,000</span>
                                    </div>
                                </div>
                                <div class="product-box--action">
                                    <a href="#" class="product-box--action-btn product-box--action-wishlist">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="#" class="product-box--action-btn product-box--action-cart">
                                        اضافه
                                        سبد
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </section>
        <div class="row mb-4">
            <div class="col-md-6 mb-lg-0 mb-3">
                <div class="banner">
                    <a href="#">
                        <img src="/Ui/assets/images/banner/banner-md-01.jpg" alt="banner">
                    </a>
                </div>
            </div>
            <div class="col-md-6 mb-lg-0 mb-3">
                <div class="banner">
                    <a href="#">
                        <img src="/Ui/assets/images/banner/banner-md-02.jpg" alt="banner">
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#countdown--offer-slider').ClassyCountdown({
                theme: "black",
                end: $.now() + 645600,
                labels: false,
            });
        });
    </script>
}