@using Identity.Infrastructure.Services.Interfaces;
@using SH.Infrastructure.Settings;
@inject IAuthManager AuthManager
@inject IOptions<SiteSettings> Options
@{
    string identityProjectUrl = Options.Value.ProjectsUrls.FirstOrDefault(_ => _.Project == "Identity").Url;

    string signInUrl = $"{identityProjectUrl}/register?callbackUrl={Context.Request.GetFullUrl()}";

    bool userRoleIsAdmin = false;
    bool userIsAuthenticated = User.Identity.IsAuthenticated;

    if (userIsAuthenticated)
    {
        var currentUser = await AuthManager.CurrentUser(default);

        userRoleIsAdmin = currentUser.Value.IsAdmin;
    }
}

<header class="page-header">
    <div class="container">
        <div class="bottom-page-header">
            <div class="d-flex align-items-center">
                <div class="site-logo">
                    <a href="#">
                        <img src="/Ui/assets/images/logo.png" alt="logo">
                    </a>
                </div>
                <!--Search Component-->
                @await Component.InvokeAsync(name:"Search")

            </div>
            <div class="user-items">
                @if (userIsAuthenticated)
                {
                    <div class="user-item">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5" stroke="currentColor" width="27">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                            </svg>
                            <span class="bag-items-number">3</span>
                        </a>
                    </div>
                    <div class="user-item cart-list">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5" stroke="currentColor" width="27">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                            </svg>
                            <span class="bag-items-number">2</span>
                        </a>
                        <ul>
                            <li class="cart-items">
                                <ul class="do-nice-scroll">
                                    <li class="cart-item">
                                        <span class="d-flex align-items-center mb-2">
                                            <a href="#">
                                                <img src="./assets/images/cart/item-1.jpg" alt="">
                                            </a>
                                            <span>
                                                <a href="#">
                                                    <span class="title-item">
                                                        گوشی موبایل شیائومی مدل Redmi 9 ظرفیت 32 گیگابایت
                                                    </span>
                                                </a>
                                                <span class="color d-flex align-items-center">
                                                    رنگ:
                                                    <span style="background-color: #8a2be2;"></span>
                                                </span>
                                            </span>
                                        </span>
                                        <span class="price">4,050,000 تومان</span>
                                        <button class="remove-item">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </li>
                                    <li class="cart-item">
                                        <span class="d-flex align-items-center mb-2">
                                            <a href="#">
                                                <img src="./assets/images/cart/item-2.jpg" alt="">
                                            </a>
                                            <span>
                                                <a href="#">
                                                    <span class="title-item">
                                                        ساعت مچی هوشمند Haylou LS02
                                                    </span>
                                                </a>
                                                <span class="color d-flex align-items-center">
                                                    رنگ:
                                                    <span style="background-color: #000;"></span>
                                                </span>
                                            </span>
                                        </span>
                                        <span class="price">750,000 تومان</span>
                                        <button class="remove-item">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </li>
                                    <li class="cart-item">
                                        <span class="d-flex align-items-center mb-2">
                                            <a href="#">
                                                <img src="./assets/images/cart/item-3.jpg" alt="">
                                            </a>
                                            <span>
                                                <a href="#">
                                                    <span class="title-item">
                                                        هدفون بلوتوثی کیو سی وای مدل T7
                                                    </span>
                                                </a>
                                                <span class="color d-flex align-items-center">
                                                    رنگ:
                                                    <span style="background-color: #fff;"></span>
                                                </span>
                                            </span>
                                        </span>
                                        <span class="price">635,000 تومان</span>
                                        <button class="remove-item">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </li>
                                </ul>
                            </li>
                            <li class="cart-footer d-flex align-items-center justify-content-between">
                                <span class="d-flex flex-column">
                                    <span>مبلغ کل:</span>
                                    <span class="total">4,050,000 تومان</span>
                                </span>
                                <span class="d-block text-center px-2">
                                    <a href="#" class="btn-cart">
                                        ثبت سفارش
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                }
                <div class="user-item account">
                    @if (userIsAuthenticated is false)
                    {
                        <a href="@signInUrl" class="btn-auth">
                            <i class="fal fa-user-circle"></i>
                            ورود و عضویت
                        </a>
                    }
                    else
                    {
                        <a href="#">
                            جلال بهرامی راد
                            <i class="fad fa-chevron-down text-sm mr-1"></i>
                        </a>
                        <ul class="dropdown--wrapper">
                            @if (userRoleIsAdmin is false)
                            {
                                <li class="header-profile-dropdown-account-container">
                                    <a href="/profile" class="d-block">
                                        <span class="header-profile-dropdown-user">
                                            <span class="header-profile-dropdown-user-img">
                                                <img src="/Ui/assets/images/avatar/avatar.png">
                                            </span>
                                            <span class="header-profile-dropdown-user-info">
                                                <p class="header-profile-dropdown-user-name">
                                                    جلال بهرامی راد
                                                </p>
                                                <span class="header-profile-dropdown-user-profile-link">
                                                    مشاهده حساب
                                                    کاربری
                                                </span>
                                            </span>
                                        </span>
                                        <span class="header-profile-dropdown-account">
                                            <span class="header-profile-dropdown-account-item">
                                                <span class="header-profile-dropdown-account-item-title">اعتبار</span>
                                                <span class="header-profile-dropdown-account-item-amount">
                                                    <span class="header-profile-dropdown-account-item-amount-number">7,500,000</span>
                                                    تومان
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@(Context.Request.GetDomainUrl()+"/administration")" target="_blank">
                                        <i class="fal fa-chart-area"></i>
                                        پنل مدیریت
                                    </a>
                                </li>
                            }

                            <li>
                                <a href="@(identityProjectUrl+"/logout")">
                                    <i class="fal fa-sign-out"></i>
                                    خروج از حساب کاربری
                                </a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div>
        <nav class="nav-wrapper">
            <ul>
                <li class="category-list">
                    <a href="#"><i class="fal fa-bars"></i>دسته بندی کالاها</a>
                    <ul>
                        <li>
                            <a href="#">کالای دیجیتال</a>
                            <ul class="row">
                                <li class="col-12"><a asp-controller="Products" asp-action="Index">همه دسته‌بندی‌های کالای دیجیتال</a></li>
                                <li class="col-3">
                                    <a href="#">لوازم جانبی گوشی</a>
                                    <ul>
                                        <li><a href="#">کیف و کاور گوشی</a></li>
                                        <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                        <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                    </ul>
                                    <a href="#">گوشی موبایل</a>
                                    <ul>
                                        <li><a href="#">سامسونگ</a></li>
                                        <li><a href="#">هوآوی</a></li>
                                        <li><a href="#">اپل</a></li>
                                        <li><a href="#">شیائومی</a></li>
                                        <li><a href="#">آنر</a></li>
                                        <li><a href="#">نوکیا</a></li>
                                    </ul>
                                    <a href="#">واقعیت مجازی</a>
                                    <a href="#">مچ‌بند و ساعت هوشمند</a>
                                </li>
                                <li class="col-3">
                                    <a href="#">هدفون، هدست، هندزفری</a>
                                    <a href="#">اسپیکر بلوتوث و با سیم</a>
                                    <a href="#">هارد، فلش و SSD</a>
                                    <a href="#">دوربین</a>
                                    <ul>
                                        <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                        <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                        <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                    </ul>
                                    <a href="#">لوازم جانبی دوربین</a>
                                    <ul>
                                        <li><a href="#">لنز</a></li>
                                        <li><a href="#">کیف</a></li>
                                        <li><a href="#">کارت حافظه</a></li>
                                        <li><a href="#">کاغذ چاپ عکس</a></li>
                                    </ul>
                                    <a href="#">دوربین دوچشمی و شکاری</a>
                                </li>
                                <li class="col-3">
                                    <a href="#">لوازم جانبی گوشی</a>
                                    <ul>
                                        <li><a href="#">کیف و کاور گوشی</a></li>
                                        <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                        <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                    </ul>
                                    <a href="#">گوشی موبایل</a>
                                    <ul>
                                        <li><a href="#">سامسونگ</a></li>
                                        <li><a href="#">هوآوی</a></li>
                                        <li><a href="#">اپل</a></li>
                                        <li><a href="#">شیائومی</a></li>
                                        <li><a href="#">آنر</a></li>
                                        <li><a href="#">نوکیا</a></li>
                                    </ul>
                                    <a href="#">واقعیت مجازی</a>
                                    <a href="#">مچ‌بند و ساعت هوشمند</a>
                                </li>
                                <li class="col-3">
                                    <a href="#">هدفون، هدست، هندزفری</a>
                                    <a href="#" class="list-item--image my-3">
                                        <img src="/Ui/assets/images/mega-menu/01.jpg" class="img-fluid rounded"
                                             alt="">
                                    </a>
                                    <a href="#">برندها</a>
                                    <ul class="d-flex my-3">
                                        <li>
                                            <a href="#" class="list-item--image ml-1 border rounded p-1">
                                                <img src="/Ui/assets/images/mega-menu/brand-1.jpg"
                                                     class="img-fluid rounded" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="list-item--image ml-1 border rounded p-1">
                                                <img src="/Ui/assets/images/mega-menu/brand-2.jpg"
                                                     class="img-fluid rounded" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="list-item--image ml-1 border rounded p-1">
                                                <img src="/Ui/assets/images/mega-menu/brand-3.jpg"
                                                     class="img-fluid rounded" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">خودرو، ابزار و تجهیزات صنعتی</a>
                            <ul class="row">
                                <li class="col-12">
                                    <a href="#">همه دسته بندی های خودرو، ابزار و تجهیزات صنعتی</a>
                                </li>
                                <li class="col-3">
                                    <a href="#">لوازم جانبی گوشی</a>
                                    <ul>
                                        <li><a href="#">کیف و کاور گوشی</a></li>
                                        <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                        <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                    </ul>
                                    <a href="#">گوشی موبایل</a>
                                    <ul>
                                        <li><a href="#">سامسونگ</a></li>
                                        <li><a href="#">هوآوی</a></li>
                                        <li><a href="#">اپل</a></li>
                                        <li><a href="#">شیائومی</a></li>
                                        <li><a href="#">آنر</a></li>
                                        <li><a href="#">نوکیا</a></li>
                                    </ul>
                                    <a href="#">واقعیت مجازی</a>
                                    <a href="#">مچ‌بند و ساعت هوشمند</a>
                                </li>
                                <li class="col-3">
                                    <a href="#">هدفون، هدست، هندزفری</a>
                                    <a href="#">اسپیکر بلوتوث و با سیم</a>
                                    <a href="#">هارد، فلش و SSD</a>
                                    <a href="#">دوربین</a>
                                    <ul>
                                        <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                        <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                        <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                    </ul>
                                    <a href="#">لوازم جانبی دوربین</a>
                                    <ul>
                                        <li><a href="#">لنز</a></li>
                                        <li><a href="#">کیف</a></li>
                                        <li><a href="#">کارت حافظه</a></li>
                                        <li><a href="#">کاغذ چاپ عکس</a></li>
                                    </ul>
                                    <a href="#">دوربین دوچشمی و شکاری</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">مد و پوشاک</a>
                            <ul class="row">
                                <li class="col-12"><a href="#">همه دسته‌بندی‌های کالای دیجیتال</a></li>
                                <li class="col-3">
                                    <a href="#">لوازم جانبی گوشی</a>
                                    <ul>
                                        <li><a href="#">کیف و کاور گوشی</a></li>
                                        <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                        <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                    </ul>
                                    <a href="#">گوشی موبایل</a>
                                    <ul>
                                        <li><a href="#">سامسونگ</a></li>
                                        <li><a href="#">هوآوی</a></li>
                                        <li><a href="#">اپل</a></li>
                                        <li><a href="#">شیائومی</a></li>
                                        <li><a href="#">آنر</a></li>
                                        <li><a href="#">نوکیا</a></li>
                                    </ul>
                                    <a href="#">واقعیت مجازی</a>
                                    <a href="#">مچ‌بند و ساعت هوشمند</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">زیبایی و سلامت</a>
                            <ul class="row">
                                <li class="col-12">
                                    <a href="#">همه دسته بندی های زیبایی و سلامت</a>
                                </li>
                                <li class="col-3">
                                    <a href="#">لوازم جانبی گوشی</a>
                                    <ul>
                                        <li><a href="#">کیف و کاور گوشی</a></li>
                                        <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                        <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                    </ul>
                                    <a href="#">گوشی موبایل</a>
                                    <ul>
                                        <li><a href="#">سامسونگ</a></li>
                                        <li><a href="#">هوآوی</a></li>
                                        <li><a href="#">اپل</a></li>
                                        <li><a href="#">شیائومی</a></li>
                                        <li><a href="#">آنر</a></li>
                                        <li><a href="#">نوکیا</a></li>
                                    </ul>
                                    <a href="#">واقعیت مجازی</a>
                                    <a href="#">مچ‌بند و ساعت هوشمند</a>
                                </li>
                                <li class="col-3">
                                    <a href="#">هدفون، هدست، هندزفری</a>
                                    <a href="#">اسپیکر بلوتوث و با سیم</a>
                                    <a href="#">هارد، فلش و SSD</a>
                                    <a href="#">دوربین</a>
                                    <ul>
                                        <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                        <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                        <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                    </ul>
                                    <a href="#">لوازم جانبی دوربین</a>
                                    <ul>
                                        <li><a href="#">لنز</a></li>
                                        <li><a href="#">کیف</a></li>
                                        <li><a href="#">کارت حافظه</a></li>
                                        <li><a href="#">کاغذ چاپ عکس</a></li>
                                    </ul>
                                    <a href="#">دوربین دوچشمی و شکاری</a>
                                </li>
                                <li class="col-3">
                                    <a href="#">هدفون، هدست، هندزفری</a>
                                    <a href="#">اسپیکر بلوتوث و با سیم</a>
                                    <a href="#">هارد، فلش و SSD</a>
                                    <a href="#">دوربین</a>
                                    <ul>
                                        <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                        <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                        <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                    </ul>
                                    <a href="#">لوازم جانبی دوربین</a>
                                    <ul>
                                        <li><a href="#">لنز</a></li>
                                        <li><a href="#">کیف</a></li>
                                        <li><a href="#">کارت حافظه</a></li>
                                        <li><a href="#">کاغذ چاپ عکس</a></li>
                                    </ul>
                                    <a href="#">دوربین دوچشمی و شکاری</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">خانه و آشپزخانه</a>
                            <ul class="row">
                                <li class="col-12">
                                    <a href="#">همه دسته بندی های خانه و آشپزخانه</a>
                                </li>
                                <li class="col-3">
                                    <a href="#">لوازم جانبی گوشی</a>
                                    <ul>
                                        <li><a href="#">کیف و کاور گوشی</a></li>
                                        <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                        <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                    </ul>
                                    <a href="#">گوشی موبایل</a>
                                    <ul>
                                        <li><a href="#">سامسونگ</a></li>
                                        <li><a href="#">هوآوی</a></li>
                                        <li><a href="#">اپل</a></li>
                                        <li><a href="#">شیائومی</a></li>
                                        <li><a href="#">آنر</a></li>
                                        <li><a href="#">نوکیا</a></li>
                                    </ul>
                                    <a href="#">واقعیت مجازی</a>
                                    <a href="#">مچ‌بند و ساعت هوشمند</a>
                                </li>
                                <li class="col-3">
                                    <a href="#">هدفون، هدست، هندزفری</a>
                                    <a href="#">اسپیکر بلوتوث و با سیم</a>
                                    <a href="#">هارد، فلش و SSD</a>
                                    <a href="#">دوربین</a>
                                    <ul>
                                        <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                        <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                        <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                    </ul>
                                    <a href="#">لوازم جانبی دوربین</a>
                                    <ul>
                                        <li><a href="#">لنز</a></li>
                                        <li><a href="#">کیف</a></li>
                                        <li><a href="#">کارت حافظه</a></li>
                                        <li><a href="#">کاغذ چاپ عکس</a></li>
                                    </ul>
                                    <a href="#">دوربین دوچشمی و شکاری</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">کتاب، لوازم تحریر و هنر</a>
                            <ul class="row">
                                <li class="col-12">
                                    <a href="#">همه دسته بندی های کتاب، لوازم تحریر و هنر</a>
                                </li>
                                <li class="col-3">
                                    <a href="#">لوازم جانبی گوشی</a>
                                    <ul>
                                        <li><a href="#">کیف و کاور گوشی</a></li>
                                        <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                        <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                    </ul>
                                    <a href="#">گوشی موبایل</a>
                                    <ul>
                                        <li><a href="#">سامسونگ</a></li>
                                        <li><a href="#">هوآوی</a></li>
                                        <li><a href="#">اپل</a></li>
                                        <li><a href="#">شیائومی</a></li>
                                        <li><a href="#">آنر</a></li>
                                        <li><a href="#">نوکیا</a></li>
                                    </ul>
                                    <a href="#">واقعیت مجازی</a>
                                    <a href="#">مچ‌بند و ساعت هوشمند</a>
                                </li>
                                <li class="col-3">
                                    <a href="#">هدفون، هدست، هندزفری</a>
                                    <a href="#">اسپیکر بلوتوث و با سیم</a>
                                    <a href="#">هارد، فلش و SSD</a>
                                    <a href="#">دوربین</a>
                                    <ul>
                                        <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                        <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                        <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                    </ul>
                                    <a href="#">لوازم جانبی دوربین</a>
                                    <ul>
                                        <li><a href="#">لنز</a></li>
                                        <li><a href="#">کیف</a></li>
                                        <li><a href="#">کارت حافظه</a></li>
                                        <li><a href="#">کاغذ چاپ عکس</a></li>
                                    </ul>
                                    <a href="#">دوربین دوچشمی و شکاری</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">اسباب بازی، کودک و نوزاد</a>
                            <ul class="row">
                                <li class="col-12">
                                    <a href="#">همه دسته بندی های اسباب بازی، کودک و نوزاد</a>
                                </li>
                                <li class="col-3">
                                    <a href="#">لوازم جانبی گوشی</a>
                                    <ul>
                                        <li><a href="#">کیف و کاور گوشی</a></li>
                                        <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                        <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                    </ul>
                                    <a href="#">گوشی موبایل</a>
                                    <ul>
                                        <li><a href="#">سامسونگ</a></li>
                                        <li><a href="#">هوآوی</a></li>
                                        <li><a href="#">اپل</a></li>
                                        <li><a href="#">شیائومی</a></li>
                                        <li><a href="#">آنر</a></li>
                                        <li><a href="#">نوکیا</a></li>
                                    </ul>
                                    <a href="#">واقعیت مجازی</a>
                                    <a href="#">مچ‌بند و ساعت هوشمند</a>
                                </li>
                                <li class="col-3">
                                    <a href="#">هدفون، هدست، هندزفری</a>
                                    <a href="#">اسپیکر بلوتوث و با سیم</a>
                                    <a href="#">هارد، فلش و SSD</a>
                                    <a href="#">دوربین</a>
                                    <ul>
                                        <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                        <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                        <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                    </ul>
                                    <a href="#">لوازم جانبی دوربین</a>
                                    <ul>
                                        <li><a href="#">لنز</a></li>
                                        <li><a href="#">کیف</a></li>
                                        <li><a href="#">کارت حافظه</a></li>
                                        <li><a href="#">کاغذ چاپ عکس</a></li>
                                    </ul>
                                    <a href="#">دوربین دوچشمی و شکاری</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">ورزش و سفر</a>
                            <ul class="row">
                                <li class="col-12">
                                    <a href="#">همه دسته بندی های ورزش و سفر</a>
                                </li>
                                <li class="col-3">
                                    <a href="#">لوازم جانبی گوشی</a>
                                    <ul>
                                        <li><a href="#">کیف و کاور گوشی</a></li>
                                        <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                        <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                    </ul>
                                    <a href="#">گوشی موبایل</a>
                                    <ul>
                                        <li><a href="#">سامسونگ</a></li>
                                        <li><a href="#">هوآوی</a></li>
                                        <li><a href="#">اپل</a></li>
                                        <li><a href="#">شیائومی</a></li>
                                        <li><a href="#">آنر</a></li>
                                        <li><a href="#">نوکیا</a></li>
                                    </ul>
                                    <a href="#">واقعیت مجازی</a>
                                    <a href="#">مچ‌بند و ساعت هوشمند</a>
                                </li>
                                <li class="col-3">
                                    <a href="#">هدفون، هدست، هندزفری</a>
                                    <a href="#">اسپیکر بلوتوث و با سیم</a>
                                    <a href="#">هارد، فلش و SSD</a>
                                    <a href="#">دوربین</a>
                                    <ul>
                                        <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                        <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                        <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                    </ul>
                                    <a href="#">لوازم جانبی دوربین</a>
                                    <ul>
                                        <li><a href="#">لنز</a></li>
                                        <li><a href="#">کیف</a></li>
                                        <li><a href="#">کارت حافظه</a></li>
                                        <li><a href="#">کاغذ چاپ عکس</a></li>
                                    </ul>
                                    <a href="#">دوربین دوچشمی و شکاری</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">خوردنی و آشامیدنی</a>
                            <ul class="row">
                                <li class="col-12">
                                    <a href="#">همه دسته بندی های خوردنی و آشامیدنی</a>
                                </li>
                                <li class="col-3">
                                    <a href="#">لوازم جانبی گوشی</a>
                                    <ul>
                                        <li><a href="#">کیف و کاور گوشی</a></li>
                                        <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                        <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                    </ul>
                                    <a href="#">گوشی موبایل</a>
                                    <ul>
                                        <li><a href="#">سامسونگ</a></li>
                                        <li><a href="#">هوآوی</a></li>
                                        <li><a href="#">اپل</a></li>
                                        <li><a href="#">شیائومی</a></li>
                                        <li><a href="#">آنر</a></li>
                                        <li><a href="#">نوکیا</a></li>
                                    </ul>
                                    <a href="#">واقعیت مجازی</a>
                                    <a href="#">مچ‌بند و ساعت هوشمند</a>
                                </li>
                                <li class="col-3">
                                    <a href="#">هدفون، هدست، هندزفری</a>
                                    <a href="#">اسپیکر بلوتوث و با سیم</a>
                                    <a href="#">هارد، فلش و SSD</a>
                                    <a href="#">دوربین</a>
                                    <ul>
                                        <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                        <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                        <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                    </ul>
                                    <a href="#">لوازم جانبی دوربین</a>
                                    <ul>
                                        <li><a href="#">لنز</a></li>
                                        <li><a href="#">کیف</a></li>
                                        <li><a href="#">کارت حافظه</a></li>
                                        <li><a href="#">کاغذ چاپ عکس</a></li>
                                    </ul>
                                    <a href="#">دوربین دوچشمی و شکاری</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fal fa-apple-crate text-warning"></i>سوپرمارکت</a>
                </li>
                <li class="mega-menu mega-menu-3-columns">
                    <a href="#"><i class="fal fa-badge-percent text-danger"></i>تخفیف ها و پیشنهادها</a>
                    <ul class="row">
                        <li class="col-7">
                            <a href="#">مشاهده همه تخفیف ها و پیشنهادها <i class="fad fa-chevron-left"></i></a>
                            <ul class="row">
                                <li class="col-6">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                کالاهای شگفت انگیز <i class="fad fa-chevron-left"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                شگفت انگیز سوپرمارکتی <i class="fad fa-chevron-left"></i>
                                            </a>
                                        </li>
                                        <li><a href="#">فروش ویژه <i class="fad fa-chevron-left"></i></a></li>
                                        <li><a href="#">کالای دیجیتال</a></li>
                                        <li><a href="#">مد و پوشاک</a></li>
                                        <li><a href="#">زیبایی و سلامت</a></li>
                                        <li><a href="#">خانه و آشپزخانه</a></li>
                                        <li><a href="#">ورزش و سفر</a></li>
                                        <li><a href="#">خوردنی و آشامیدنی</a></li>
                                    </ul>
                                </li>
                                <li class="col-6">
                                    <ul>
                                        <li>
                                            <a href="#" class="text-sm text-muted">
                                                <i class="fad fa-chart-line"></i>
                                                پرفروش ترین کالاها
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-sm text-muted">
                                                <i class="fad fa-gift"></i>
                                                با هر
                                                خرید هدیه بگیرید!
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-sm text-muted">
                                                <i class="fad fa-badge-percent"></i>
                                                تخفیف پایان فصل
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-sm text-muted">
                                                <i class="fad fa-gift-card"></i> کارت
                                                هدیه خرید از همتا
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-sm text-muted">
                                                <i class="fad fa-box-alt"></i> تازه
                                                های فروشنده های جدید
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="col-5">
                            <a href="#">
                                <img src="/Ui/assets/images/mega-menu/amazing-offer.jpg" class="rounded"
                                     alt="amazing-offer">
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fal fa-shield-check text-success"></i>همتای من</a>
                </li>
                <li>
                    <a href="#"><i class="fal fa-plus-square text-primary"></i>همتا پلاس</a>
                </li>
                <li>
                    <a href="#"><i class="fal fa-coin text-secondary"></i>همتا کلاب</a>
                </li>
                <li>
                    <a href="#"><i></i>سوال دارید؟</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="page-header-overlay"></div>
<!-- header responsive -->
<div class="header-responsive fixed--header-top">
    <div class="header-top">
        <div class="side-navigation-wrapper">
            <button class="btn-toggle-side-navigation"><i class="far fa-bars"></i></button>
            <div class="side-navigation">
                <div class="site-logo">
                    <a href="#">
                        <img src="/Ui/assets/images/logo.png" alt="logo">
                    </a>
                </div>
                <div class="divider"></div>
                <ul class="not-list-children">
                    <li><a href="#"><i class="fal fa-apple-crate"></i> سوپرمارکت</a></li>
                    <li><a href="#"><i class="fal fa-badge-percent"></i> پیشنهادها و تخفیف ها</a></li>
                    <li><a href="#"><i class="fal fa-plus-square"></i> فروشنده شوید</a></li>
                    <li><a href="#"><i class="fal fa-question"></i> سوالی دارید؟</a></li>
                </ul>
                <div class="divider"></div>
                <ul class="category-list">
                    <li class="has-children">
                        <a href="#">کالای دیجیتال</a>
                        <ul>
                            <li class="has-children">
                                <a href="#">لوازم جانبی گوشی</a>
                                <ul>
                                    <li><a href="#">کیف و کاور گوشی</a></li>
                                    <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                    <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">گوشی موبایل</a>
                                <ul>
                                    <li><a href="#">سامسونگ</a></li>
                                    <li><a href="#">هوآوی</a></li>
                                    <li><a href="#">اپل</a></li>
                                    <li><a href="#">شیائومی</a></li>
                                    <li><a href="#">آنر</a></li>
                                    <li><a href="#">نوکیا</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">هدفون، هدست، هندزفری</a>
                            </li>
                            <li>
                                <a href="#">اسپیکر بلوتوث و با سیم</a>
                            </li>
                            <li class="has-children">
                                <a href="#">دوربین</a>
                                <ul>
                                    <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                    <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                    <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">لوازم جانبی دوربین</a>
                                <ul>
                                    <li><a href="#">لنز</a></li>
                                    <li><a href="#">کیف</a></li>
                                    <li><a href="#">کارت حافظه</a></li>
                                    <li><a href="#">کاغذ چاپ عکس</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#">مد و پوشاک</a>
                        <ul>
                            <li><a href="#">لباس زنانه</a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#">زیبایی و سلامت</a>
                        <ul>
                            <li class="has-children">
                                <a href="#">لوازم جانبی گوشی</a>
                                <ul>
                                    <li><a href="#">کیف و کاور گوشی</a></li>
                                    <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                    <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">گوشی موبایل</a>
                                <ul>
                                    <li><a href="#">سامسونگ</a></li>
                                    <li><a href="#">هوآوی</a></li>
                                    <li><a href="#">اپل</a></li>
                                    <li><a href="#">شیائومی</a></li>
                                    <li><a href="#">آنر</a></li>
                                    <li><a href="#">نوکیا</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">هدفون، هدست، هندزفری</a>
                            </li>
                            <li>
                                <a href="#">اسپیکر بلوتوث و با سیم</a>
                            </li>
                            <li class="has-children">
                                <a href="#">دوربین</a>
                                <ul>
                                    <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                    <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                    <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">لوازم جانبی دوربین</a>
                                <ul>
                                    <li><a href="#">لنز</a></li>
                                    <li><a href="#">کیف</a></li>
                                    <li><a href="#">کارت حافظه</a></li>
                                    <li><a href="#">کاغذ چاپ عکس</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#">خانه و آشپزخانه</a>
                        <ul>
                            <li class="has-children">
                                <a href="#">لوازم جانبی گوشی</a>
                                <ul>
                                    <li><a href="#">کیف و کاور گوشی</a></li>
                                    <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                    <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">گوشی موبایل</a>
                                <ul>
                                    <li><a href="#">سامسونگ</a></li>
                                    <li><a href="#">هوآوی</a></li>
                                    <li><a href="#">اپل</a></li>
                                    <li><a href="#">شیائومی</a></li>
                                    <li><a href="#">آنر</a></li>
                                    <li><a href="#">نوکیا</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">هدفون، هدست، هندزفری</a>
                            </li>
                            <li>
                                <a href="#">اسپیکر بلوتوث و با سیم</a>
                            </li>
                            <li class="has-children">
                                <a href="#">دوربین</a>
                                <ul>
                                    <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                    <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                    <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">لوازم جانبی دوربین</a>
                                <ul>
                                    <li><a href="#">لنز</a></li>
                                    <li><a href="#">کیف</a></li>
                                    <li><a href="#">کارت حافظه</a></li>
                                    <li><a href="#">کاغذ چاپ عکس</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#">کتاب،لوازم تحریر و هنر</a>
                        <ul>
                            <li class="has-children">
                                <a href="#">لوازم جانبی گوشی</a>
                                <ul>
                                    <li><a href="#">کیف و کاور گوشی</a></li>
                                    <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                    <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">گوشی موبایل</a>
                                <ul>
                                    <li><a href="#">سامسونگ</a></li>
                                    <li><a href="#">هوآوی</a></li>
                                    <li><a href="#">اپل</a></li>
                                    <li><a href="#">شیائومی</a></li>
                                    <li><a href="#">آنر</a></li>
                                    <li><a href="#">نوکیا</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">هدفون، هدست، هندزفری</a>
                            </li>
                            <li>
                                <a href="#">اسپیکر بلوتوث و با سیم</a>
                            </li>
                            <li class="has-children">
                                <a href="#">دوربین</a>
                                <ul>
                                    <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                    <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                    <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">لوازم جانبی دوربین</a>
                                <ul>
                                    <li><a href="#">لنز</a></li>
                                    <li><a href="#">کیف</a></li>
                                    <li><a href="#">کارت حافظه</a></li>
                                    <li><a href="#">کاغذ چاپ عکس</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">اسباب بازی،کودک و نوزاد</a>
                    </li>
                    <li>
                        <a href="#">ورزش و سفر</a>
                    </li>
                    <li>
                        <a href="#">خوردنی و آشامیدنی</a>
                    </li>
                </ul>
            </div>
            <div class="overlay-side-navigation"></div>
        </div>
        <div class="site-logo">
            <a href="#">
                <img src="/Ui/assets/images/logo.png" alt="logo">
            </a>
        </div>
        <div class="header-tools">
            <div class="cart-side">
                <a href="#" class="btn-toggle-cart-side ml-0">
                    <i class="far fa-shopping-basket"></i>
                    <span class="bag-items-number">2</span>
                </a>
                <div class="cart-side-content">
                    <ul>
                        <li class="cart-items">
                            <ul>
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="/Ui/assets/images/cart/item-1.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    گوشی موبایل شیائومی مدل Redmi 9 ظرفیت 32 گیگابایت
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #8a2be2;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">4,050,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="/Ui/assets/images/cart/item-2.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    ساعت مچی هوشمند Haylou LS02
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #000;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">750,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="/Ui/assets/images/cart/item-3.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    هدفون بلوتوثی کیو سی وای مدل T7
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #fff;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">635,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="/Ui/assets/images/cart/item-1.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    گوشی موبایل شیائومی مدل Redmi 9 ظرفیت 32 گیگابایت
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #8a2be2;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">4,050,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="/Ui/assets/images/cart/item-2.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    ساعت مچی هوشمند Haylou LS02
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #000;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">750,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="/Ui/assets/images/cart/item-3.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    هدفون بلوتوثی کیو سی وای مدل T7
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #fff;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">635,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="/Ui/assets/images/cart/item-1.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    گوشی موبایل شیائومی مدل Redmi 9 ظرفیت 32 گیگابایت
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #8a2be2;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">4,050,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="/Ui/assets/images/cart/item-2.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    ساعت مچی هوشمند Haylou LS02
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #000;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">750,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="/Ui/assets/images/cart/item-3.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    هدفون بلوتوثی کیو سی وای مدل T7
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #fff;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">635,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                            </ul>
                        </li>
                        <li class="cart-footer">
                            <span class="d-block text-center mb-3">
                                مبلغ کل:
                                <span class="total">4,050,000 تومان</span>
                            </span>
                            <span class="d-block text-center px-2">
                                <a href="#" class="btn-cart">
                                    مشاهده سبد خرید
                                    <i class="mi mi-ShoppingCart"></i>
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="overlay-cart-side"></div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="search-box">
            <form action="#">
                <input type="text" placeholder="نام محصول یا برند را جستجو کنید...">
                <i class="far fa-search"></i>
            </form>
            <div class="search-result">
                <ul class="search-result-list">
                    <li><a href="#">موبایل</a></li>
                    <li><a href="#">سامسونگ</a></li>
                    <li><a href="#">مودم</a></li>
                    <li><a href="#">اپل</a></li>
                    <li><a href="#">تلویزیون</a></li>
                </ul>
                <ul class="search-result-most-view">
                    <li><a href="#">موبایل</a></li>
                    <li><a href="#">سامسونگ</a></li>
                    <li><a href="#">مودم</a></li>
                    <li><a href="#">اپل</a></li>
                    <li><a href="#">تلویزیون</a></li>
                </ul>
            </div>
        </div>
        <div class="header-tools">
            <a href="#"><i class="far fa-user-circle"></i></a>
        </div>
    </div>
</div>
<!-- end header responsive -->