@model TG.Application.Traits.Commands.CreateTrait.CreateTraitCommand

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">ایجاد ویژگی جدید</h4>
</div>

<form asp-area="Administration" asp-controller="Trait" asp-action="Create"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Title" class="control-label">نام</label>
                    <input class="form-control" asp-for="Title">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="OrderNumber" class="control-label">اولویت</label>
                    <input type="text" class="form-control" asp-for="OrderNumber" value="1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="HasFilterAbility" class="control-label">قابلیت فیلتر کردن</label>
                    <input class="form-check" asp-for="HasFilterAbility">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TraitGroupId">گروه ویژگی</label>
                    <select asp-for="TraitGroupId" class="form-control" dir="rtl" asp-items="ViewBag.TraitGroups">
                        <option value="@Guid.Empty">انتخاب گروه ویژگی</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CategoryId">دسته بندی</label>
                    <select asp-for="CategoryId" class="form-control" dir="rtl" asp-items="ViewBag.Categories">
                        <option value="@Guid.Empty">انتخاب دسته بندی</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
    </div>
</form>